<h1><%= t("user.log_in") %></h1>

<div class="row">
  <%= form_for(:session, url: sessions_path) do |f| %> 
    <%= f.label :email %>
    <%= f.text_field :email %> 
    
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit t("user.log_in"), class: "btn btn-large btn-primary" %>
  <% end %>

  <p><%= t("user.not_signup?") %> <%= link_to t("user.sign_up"), signup_path %></p> 
</div>