<h1>登入</h1>

<div class="row">
  <%= form_for(:session, url: sessions_path) do |f| %> 
    <%= f.label :email %>
    <%= f.text_field :email %> 
    
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "登入", class: "btn btn-large btn-primary" %>
  <% end %>

  <p>還沒註冊？ <%= link_to "註冊", signup_path %></p> 
</div>