<%= form_for mission do |form| %>
  <% if mission.errors.any? %>
    <% mission.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  <div>
    <%= form.label :title, t("missions.mission_name") %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :priority, t("missions.priority") %>
    <%= form.select :priority, priority_selection %>
  </div>
  <div>
    <%= form.label :category, t("missions.category") %>
    <%= form.select :category, category_selection %>
  </div>
  <div>
    <%= form.label :start_time, t("missions.start_time") %>
    <%= form.date_select :start_time %>
    <%= form.time_select :start_time, :ignore_date => true %>
  </div>
  <div>
    <%= form.label :end_time, t("missions.end_time") %>
    <%= form.date_select :end_time %>
    <%= form.time_select :end_time, :ignore_date => true %>
  </div>
  <%= form.submit t("missions.submit"), data: { disable_with: false } %>
<% end %>