<%= flash[:overdue] %>
<%= flash[:urgent] %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to t("user.personal_info"), user_path(id: current_user.id), class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to t("user.log_out"), signout_path, class: "nav-link", method: "delete" %>
      </li>
      <% if current_user.role == "admin" %>
        <li class="nav-item active">
          <%= link_to t("user.user_control"), admin_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
      <%= search_form_for @q, html: { class: "form-inline my-2 my-lg-0"} do |f| %>
        <%= f.label :title_cont, t("missions.title") %>
        <%= f.search_field :title_cont, class: "form-control mr-sm-2" %>

        <%= f.label :status_cont, t("missions.status") %>
        <%= f.search_field :status_cont, class: "form-control mr-sm-2" %>

        <%= f.label :tags_name_cont, t("missions.tag") %>
        <%= f.search_field :tags_name_cont, class: "form-control mr-sm-2" %>

        <%= f.submit t("missions.search"), class: "btn btn-outline-success my-2 my-sm-0" %>
      <% end %>
  </div>
</nav>




<h1 class="text-center"> <%= t("missions.mission_list") %> </h1>

<div class="text-center p-3">
  <%= link_to t("missions.add_mission"), new_mission_path, class: "btn btn-success" %>
</div>

<table class="table">
  <thead>
    <tr>
      <td> <%= t("missions.mission_name") %> </td>
      <td> <%= t("missions.status") %> </td>
      <td> <%= link_to t("missions.start_time"), { url: nil , order_by: "created_at"} %> </td>
      <td> <%= link_to t("missions.end_time"), { url: nil , order_by: "end_time"} %> </td>
      <td> <%= link_to t("missions.priority"), { url: nil , order_by: "priority"} %> </td>
      <td> <%= t("missions.category") %> </td>
      <td> <%= t("missions.tag") %> </td>
      <td> <%= t("missions.action") %> </td>
    </tr>
  </thead>
  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td> <%= mission.title %> </td>
        <td> <%= mission_status(mission) %> </td>
        <td> <%= mission.start_time.strftime("%m-%d %H:%M") %> </td>
        <td> <%= mission.end_time.strftime("%m-%d %H:%M") %> </td>
        <td> <%= mission_enum_name(mission, :priority) %> </td>
        <td> <%= mission_enum_name(mission, :category)  %> </td>
        <td> 
          <% if mission.tags.any? %>
            <% mission.tags.each do |tag| %>
              <span class="badge badge-secondary"> <%= tag.name %> </span>
            <% end %>
          <% end %> 
        </td>
        <td>
          <%= link_to t("missions.edit"), edit_mission_path(id: mission.id), class: "btn btn-success" %> 
          <%= link_to t("missions.delete"), mission_path(id: mission.id), method: "delete", data: { confirm: t("missions.confirm_delete") }, class: "btn btn-danger" %> 
        </td>
      </tr>
    <% end %>
    <%= paginate(@missions, theme: 'twitter-bootstrap-4') %>
  </tbody>



</table>